/* * {
    background: #f5f5f5;
    color: black;
} */
html {
    height: 100%;
}
body {
    height: 100%;
    border: 5px solid #ffdb3a;
}
h1 {
    font-size: 1.5rem;
    line-height: 0.5rem;
}
p, div {
    font-size: 16px;
}

.home-link {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
}

.header {
    background: #128416;
    color: #ffffff;
    vertical-align: center;
    height: 140px;
    position: relative;
}

.header .title {
    position: absolute;
    left: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: xx-large;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
}

.header .social-container {
    position: absolute;
    padding-right: 10px;
    text-align: right;
    float: right;
    right: 10px;
    bottom: 0;
    top: 0;
    margin: auto;
    line-height: 40px;
    vertical-align: middle;
    height: 60px;
}

.header .social-container i {
    margin-right: 5px;
}

.header .social-button-background {
    color: #0c590f;
}

.body {
    font-size: 1.4rem;
    line-height: 1.58;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px;
}

.social-button {
     transition: all .2s ease-in-out; 
}

.social-button:hover { 
    transform: scale(1.1); 
}

.article-header {
    border-top-color: #3a3939;
    border-top-width: 2px;
    border-top-style: dashed;
    margin-bottom: 1.0em;
    margin-top: 1.0em;
}

.article-publish-date {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: right;
    font-size: smaller;
    float: right;
}

.article-tag-container {
    font-size: smaller;
    /* float: left; */
}

.article-title {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    margin-bottom: 40px;
    margin-top: 20px;
}

.tag {
    background-color: rgb(225, 236, 244);
    color: rgb(57, 115, 157);
    display: inline-block;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-size: 0.8em;
    margin-left: 0.5em;
    /* margin-right: 1.0em; */
}

.social-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.blog-post-preview-title {
    text-decoration: none;
    color: #000;
}

.blog-post-preview-date {
    font-size: x-small;
    color: #444;
}

/* 
.blog-post-preview {

}

.blog-post-preview-text {

}
*/