/* * {
    background: #f5f5f5;
    color: black;
} */
html {
    height: 100%;
    background-color: rgb(228, 228, 228);
}
body {
    height: 100%;
}
h1 {
    font-size: 1.5rem;
    line-height: 0.5rem;
}
p, div {
    font-size: 16px;
}

.home-link {
    text-decoration: none;
    color: #fff;
}

/* @media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(250, 250, 250);
        border-left: 1px solid darkgray;
        border-right: 1px solid darkgray;
    }
} */

@media screen and (max-width: 1300px) {
    .posts-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #eaeaea;
    }

    .blog-post-preview {
        background-color: #fff;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 1300px) {
         .posts-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #eaeaea;
    }

    .blog-post-preview {
        flex: 1;
        background-color: #fff;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;

    }
}

@media screen and (min-width: 900px) {
    .header {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 160px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;

        background-color: rgb(26, 14, 28);
        background-image: url("andreas-dress-BOtW7WkuDds-unsplash.jpg");
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
        color: #ffffff;
        width: 400px;
    }

    .header .title {
        margin: auto;
        font-size: xx-large;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        height: 40px;
        padding-bottom: 100px;
    }

    .header .about {
        margin: auto;
        font-size: x-large;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        height: 40px;
        padding-bottom: 100px;
        color: #ddd;
    }


    .header .social-container {
        text-align: center;
        margin: auto;
        line-height: 40px;
        height: 60px;
    }
    
    .header .social-container i {
        margin-right: 5px;
    }
    
    .header .social-button-background {
        color: rgb(26, 14, 28);
    }
    
    .body {
        font-size: 1.4rem;
        line-height: 1.58;
        font-family: 'Noto Sans', sans-serif;
        padding: 10px;
        margin-left: 400px;
    }

    .header hr {
        background-color: #fff;
        margin-bottom: 10px;
        margin-top: 10px;
        vertical-align: middle;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
        

    .headerLink {
        text-align: right;
        margin-right: 10%;
        font-size: large;
        font-family: 'Ubuntu', sans-serif;
    }

    .bodyWrapper {
        background-color: #eaeaea;
        padding-left: 75px;
        padding-right: 75px;
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .body {
        background-color: #fff;
        padding: 0px;
    }

    .blog-post {
        font-family: 'Ubuntu', sans-serif;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .blog-post h1 {
        text-align: center;
        font-size: 2rem;
        line-height: 2rem;
    }

    .blog-post-preview h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .blog-post-preview-text {
        padding-left: 30px;
        padding-right: 30px;
    }

    .blog-posts {
        border-width: 0;
    }

    .blog-post-container {
        padding-top: 30px;
        font-family: 'Ubuntu', sans-serif;
    }
}

@media screen and (max-width: 900px) {
    .header {
        background: #f00;
        color: #ffffff;
        vertical-align: center;
        height: 140px;
        position: relative;
    }

    .header .title {
        position: absolute;
        left: 50px;
        margin: auto;
        top: 0;
        bottom: 0;
        font-size: xx-large;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        height: 40px;
    }
    
    .header .social-container {
        position: absolute;
        padding-right: 10px;
        text-align: right;
        float: right;
        right: 10px;
        bottom: 0;
        top: 0;
        margin: auto;
        line-height: 40px;
        vertical-align: middle;
        height: 60px;
    }
    
    .header .social-container i {
        margin-right: 5px;
    }
    
    .header .social-button-background {
        color: #0c590f;
    }

    .body {
        font-size: 1.4rem;
        line-height: 1.58;
        font-family: 'Noto Sans', sans-serif;
        padding: 10px;
    }
        
}


.social-button {
     transition: all .2s ease-in-out; 
}

.social-button:hover { 
    transform: scale(1.1); 
}

.blog-post-preview a {
    text-decoration: none;
    color: #222;
}

.blog-post-preview a:hover {
    text-decoration: none;
    color: #bbb;
    transition: 0.3s;
}


/* .article-header {
    border-top-color: #3a3939;
    border-top-width: 2px;
    border-top-style: dashed;
    margin-bottom: 1.0em;
    margin-top: 1.0em;
} */

.article-publish-date {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: right;
    font-size: smaller;
    float: right;
}

.article-tag-container {
    font-size: smaller;
    /* float: left; */
}

.article-title {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    margin-bottom: 40px;
    margin-top: 20px;
}

.tag {
    background-color: rgb(225, 236, 244);
    color: rgb(57, 115, 157);
    display: inline-block;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-size: 0.8em;
    margin-left: 0.5em;
    /* margin-right: 1.0em; */
}

.social-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.blog-post-preview-title {
    text-decoration: none;
    color: #000;
}

.blog-post-preview-date {
    font-size: x-small;
    color: #444;
}

.tagLink {
    text-decoration: none;
}
 
.blog-post-preview hr {
    margin-bottom: 50px;
    margin-top: 50px;
}

/*
.blog-post-preview-text {

}
*/

.footer {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.footer hr {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer span {
    color: #444;
    font-size: x-small;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
/* 
#build-commit {

} */

